.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  min-width: 200px;
  min-height: 200px;
  padding: 20px;
  background-color: white;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.overlay-entered {
  transition: opacity 195ms;
  opacity: 1;
}

.overlay-exiting {
  transition: opacity 195ms;
  opacity: 0;
}